@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #3e226d 0%, #812326 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.gameArea {
  flex: 50%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transition: all 0.75s;
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.addScore {
  animation: addScore 0.2s linear 0.1s;
  animation-fill-mode: forwards;
}

@keyframes addScore {
  0% {
    font-size: 2.75rem;
  }
  15% {
    font-size: 3.5rem;
  }
  50% {
    font-size: 4.25rem;
  }
  100% {
    font-size: 3.5rem;
  }
}

.grid-container {
  position: absolute;
  left: 24%;
  top: 6.5rem;
  display: grid;
  width: 740px;
  height: 500px;
  overflow: auto;
  grid-template-columns: repeat(5, 140px);
  grid-template-rows: repeat(4, 110px);
  align-items: center;
  gap: 5px;
}

.wordCard {
  display: flex;
  width: 130px;
  height: 70px;
  margin: 50px 0 0 80px;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: black 1px solid;
  font-family: inherit;
  font-size: 2rem;
  text-transform: uppercase;
  justify-content: center;
  cursor: pointer;
  font-weight: 420;
  transition: all 0.2s;
  align-items: center;

  background-color: rgb(238, 238, 231);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.wordCard.used {
  border: red 2px solid;
  color: red;
}

.cardSelected {
  background-color: #949494;
}

.scoreBox {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 20%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

.scoreBox-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

.scoreBox-score {
  font-size: 3.5rem;
}

.animate-lost {
  position: relative;
  animation: pointsLost 0.4s linear forwards;
}

@keyframes pointsLost {
  0% {
    top: 0;
    opacity: 1;
    color: #ddd;
  }
  100% {
    top: 30px;
    opacity: 0;
    color: #423131;
  }
}

.buttonList {
  height: 300px;
  width: 20%;
}

.btn {
  margin: 20px 0 0 87px;
  width: 99%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 1.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn:disabled {
  background-color: #707070;
  opacity: 0.5;
  cursor: not-allowed;
}

.btn--hold {
  top: 19rem;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.phrase {
  position: absolute;
  left: 36%;
  top: 20px;
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #d9d4e6;
  opacity: 0.8;
  border-radius: 9px;
  width: 50%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}
